{% load static%}
<style>
    .navbar-brand {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
    .navbar-brand img{
        width: 40%;
        height: auto !important;
    }
</style>
<nav class="navbar navbar-vertical navbar-expand-lg navbar-light bg-white" role="navigation">
    <div class="container-fluid">
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="{% static 'image/logo_big.png' %}" class="img-responsive" />
      </a>

      <div class="dropdown d-flex d-lg-none">
        <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
          <span class="avatar">
            <img src="https://ui-avatars.com/api/?name={{user.username}}" class="avatar-image rounded-circle" alt="">
          </span>
          <span class="text-dark ms-2">{{user.username}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">My profile</a>
          <a class="dropdown-item" href="#">Account settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>
      </div>

      <div class="collapse navbar-collapse mt-md-2" id="navbar-collapse">
        <ul class="navbar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a href="{% url 'dashboard'%}" class="nav-link">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fas fa-chart-line"></i></span>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a href="#sidebar-subs" class="nav-link" data-bs-toggle="collapse" aria-expanded="" aria-controls="sidebar-subs">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fas fa-cogs"></i>              </span>
              Setup
              <i class="fas fa-chevron-down fa-xs collapse-icon ms-auto"></i>
            </a>

            <div class="collapse " id="sidebar-subs" data-bs-parent="#sidebar-nav">
              <ul class="nav nav-sm flex-column pb-2">
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'floors' %}">
                    Floor 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'rooms' %}">
                    Rooms / Zone
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'devices' %}">
                    Devices 
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a href="{% url 'users' %}" class="nav-link">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fas fa-users"></i>              </span>
              Users
            </a>
          </li>

          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="svg-icon text-primary me-2 relative-top--1">
                <i class="fas fa-chart-bar"></i>           </span>
              Reports
            </a>
          </li> -->

          <!-- <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebar-landing">
              <span class="svg-icon text-primary me-2 relative-top--1">
                <i class="fas fa-clipboard-list"></i>              </span>
              Logs
            </a>
          </li> -->

          <li class="nav-item">
            <a href="#sidebar-docs" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebar-docs">
              <span class="svg-icon text-primary me-2 relative-top--1">
                <i class="fas fa-cog"></i>              </span>
              Settings
              <i class="fas fa-chevron-down fa-xs collapse-icon ms-auto"></i>
            </a>
            <div class="collapse" id="sidebar-docs" data-bs-parent="#sidebar-nav">
              <ul class="nav nav-sm flex-column">
                <!-- <li class="nav-item">
                  <a href="#" class="nav-link">
                    Style 
                  </a>
                </li> -->
                <li class="nav-item">
                  <a href="{% url 'dashboard_list' %}" class="nav-link">
                    Public dashboard
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a href="#" class="nav-link">
                    Support
                  </a>
                </li> -->
              </ul>
            </div>
          </li>
        </ul>

        <!-- <hr class="navbar-divider mt-auto mb-4"> -->

        <a href="#!" class="btn btn-light btn-sm mt-auto d-none d-lg-block" style="transform: rotateY(180deg);" data-toggle="sidebar"  data-sidebar="lg">
          <span class="svg-icon text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path d="M176,176V136a40,40,0,0,1,40-40H424a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H216a40,40,0,0,1-40-40V336" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="272 336 352 256 272 176" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="48" y1="256" x2="336" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
          </span>
        </a>
      </div>
    </div>
  </nav>